th.basics {
    background-color: #f0fff0 !important;
}

th.people {
    background-color: #f0f0ff !important;
}

th.internationality {
    background-color: #fffff0 !important;
}

th.resources {
    background-color: #fff0f0 !important;
}
th.reach {
    background-color: #f0ffff !important;
}
th.legislativeParticipation {
    background-color: #fff0ff !important;
}

.updated {
    display: block;
    font-size: 8px;
}

table {
    border-collapse: collapse;
}

tbody tr:hover {
    background-color: yellow;
}

td, th {
    white-space: pre;
    vertical-align: top;
    padding: 5px;
    margin: 1px;
    border: 1px solid lightgray;
}

tr:nth-child(2n) {
    background-color: #f0f0f0;
}

hr {
    margin-top: 50px
}